{% extends 'base.html.twig' %}

{% block body %}
{% include 'components/navbar.html.twig' %}
    <h1>Your bookings</h1>

    {{ dump(bookings) }}
    <h1>{{ user.name }}</h1>
    <ul>
        {% for booking in bookings %}
            <li>{{ booking.id }}</li>
        {% endfor %}
    </ul>

{% endblock %}