{% extends 'base.html.twig' %}

{% block body %}
    <div style="display: flex; justify-content: center; align-items: center; height: 100vh;">
        <div style="text-align: center;">
            <h1 style="margin-bottom: 20px;">Edit Booking</h1>

            {{ form_start(form) }}
                <div style="display: flex; justify-content: center; align-items: center;">
                    <div style="width: 50%; padding-right: 10px;">
                        {{ form_row(form.dateIn, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div style="width: 50%; padding-left: 10px;">
                        {{ form_row(form.dateOut, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>

                <button type="submit" class="btn btn-primary" onclick="return confirm('Are you sure you want to update this booking?')">Save changes</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}